<%= simple_form_for(reply) do |f| %>
<%= f.hidden_field :argument_id, value: @argument_id %>
<article class="media">
  <figure class="media-left">
    <p class="image is-48x48">
      <%= image_tag(current_user.avatar.url(:thumb), class: 'border-radius-50', size: 48, alt: current_user.username) %>
    </p>
  </figure>
  <div class="media-content">
    <div class="field">
      <p class="control">
        <%= f.input :content, input_html: { class: 'textarea', rows: '5', placeholder: "Add some text..."}, wrapper: false, label_html: { class: 'label' }, label: false %>
      </p>
    </div>
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <%= f.button :submit, class:'button is-success is-active' %>
        </div>
      </div>
    </nav>
  </div>
</article>

<% end %>



 