<div class="columns is-centered">
<div class="column is-narrow">
<div style="width: 320px;">
<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-content has-text-centered">
<div class="level-item has-text-centered">
<h2 class="title">Sign up</h2>
</div>
</br>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
<div class="level-item has-text-centered">
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true,  autocomplete: "login", class: 'input' %>
  </div>
</div>
</br>
<div class="level-item has-text-centered">
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input' %>
  </div>
</div>
</br>
<div class="level-item has-text-centered">
  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: 'input' %>
  </div>
</div>
</br>
<div class="level-item has-text-centered">
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'input' %>
  </div>
</div>
</br>
<div class="level-item has-text-centered">
<div class="file has-name is-boxed">
  <label class="file-label">
    <%= f.file_field :avatar,  class:"file-input", type:"file" %>
    <span class="file-cta">
      <span class="file-icon">
        <i class="fa fa-upload"></i>
      </span>
      <span class="file-label">
        Choose a avatar…
      </span>
    </span>
  </label>
</div>
</div>
</br>
<div class="level-item has-text-centered">
  <div class="actions">
    <%= f.submit "Confirm", class: 'button'  %>
  </div>
</div>  
<% end %>
</div>
</div>
</div>
</div>
</div>
</div>
</div>