%p#notice= notice
%h1 Discussions
%table
  %thead
    %tr
      %th Left side
      %th Right side
      %th{colspan: "3"}
  %tbody
    - @discussions.each do |discussion|
      %tr
        %td= discussion.left_side
        %td= discussion.right_side
        %td= link_to 'Show', discussion
        %td= link_to 'Edit', edit_discussion_path(discussion)
        %td= link_to 'Destroy', discussion, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Discussion', new_discussion_path
