<div class="columns">
  <div class="column is-8">
  <h3 class="title is-5 has-text-grey-light">Most popular from <strong><%= Discussion.count %></strong> discussions</h3>
  <div class="tabs is-centered">
  <ul>
    <li><%= link_to "Latest", discussions_path %></li>
    <li class="is-active"><a>Popular</a></li>
    <li><%= link_to "Most Upvoted", most_upvoted_discussions_path%></li>
  </ul>
</div>
  <%= render 'discussions/search_form' %>
  <%= render 'shared/discussions'%>
  <%= render 'sidebar' %>
</div>
<nav class="column is-8">
  <%= paginate @discussions %>
</nav>
