<div class="columns is-centered">
<div class="column is-narrow">
<div style="width: 400px;">
<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-content has-text-centered">
<h4 class="title is-4">Forgot your password?</h4>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input'  %>
  </div>
</br>
  <div class="actions">
    <%= f.submit "Send me reset password instructions", class: 'button'  %>
  </div>
<% end %>
</br>
<%= render "devise/shared/links" %>
</div>
</div>
</div>
</div>
</div>
</div>
</div>